/* Color Palette:
   Navy Blue: #3b5370
   Muted Beige: #dbd8d1
   Plum: #6a0f43
   Emerald: #274d33
   Mahogany Brown: #1d1010
   White: #ffffff
*/

/* Heading Colors */
    h1 {
    color: #274d33;
    }

        h2 {
        color: #3b5370;
        }

             h3 {
            color: #1d1010; 
            }

body {
    background-color: #dbd8d1;
    color: #6a0f43;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #ffffff;
    padding: 20px;
}
div {
    width: 200px;
    height: 100px;
    background-color: #ffffff;
    border: 2px solid #3b5370;
    padding: 15px;
    margin: 20px;

}
/*Assignment 02*/

body {
    background-color: #dbd8d1;
}

main {
    margin: 30px;
}

h1 {
    color: #274d33;
    font-family: Georgia, 'Times New Roman';
}

p {
    color: #6a0f43;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: #ffffff;
    padding: 20px;
}
